@{
    ViewData["Title"] = "Політика приватності";
}

<div class="semi-transparent-background">
    <h1>@ViewData["Title"]</h1>
    <p>The privacy policy of our service is explained here.</p>
</div>
